*{
  box-sizing: border-box;
}
.box{
  padding-top: 95px;
   padding-left: 71px;
   width: 550px;
   height: 550px;
   border: 1px solid #F00;
  background: #F9DFDF;
  
  }
p{ 
  color: #F00;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
