.box{
    width: 550px;
    height: 550px;
    border: 1px solid #F00;
}
p{
    padding-top: 71px;
    padding-left: 95px;
    padding-right: 402px;
    padding-bottom: 460px;
    color: #F00;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}